
<ul>
        <li>{{ post.postAuthor }}</li>
        <li>{{ post.postTitle }}</li>
        <li>{{ post.postBody }}</li>
        <a href="{{ path('edit_post', { 'id': post.id }) }}">Edit</a>
        <br>
</ul>