<ul>
        <li>{{ post.postAuthor }}</li>
        <li>{{ post.postTitle }}</li>
        <li>{{ post.postBody }}</li>
        <br>
</ul>
            <a class="back_to_posts_link" href="/">Back to Posts</a>