/* Responsive styling. */
@media only screen and (max-width: 350px)
{
    .top_nav li
    {
        display: none;
    }

    #menu_open_link_container
    {
        display: inline-block;
    }
    #menu_open_link
    {
        display: block;
        cursor: pointer;
    }
}