{% extends 'basis.html.twig' %}


{% block banner_content%}
    {% block login_from %}

    <form class="login_form" action="{{ path('login') }}" method="post">
        <input class="user_input" type="text" id="username" name="_username" value="{{ last_username }}" required="yes" placeholder="Username" />
        
        <input class="user_input" type="password" id="password" name="_password" required="yes" placeholder="Password"/>
        
        <button class="user_func_submit" type="submit">Log Me In</button>
        
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    </form>

    {% endblock %}
{% endblock %}
{% block main_content %}
{% endblock %}